body{
    background-color:#b3bde7fa;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}
h1{
    font-family: 'Questrial', sans-serif;
}
h2 {
    color:whitesmoke;
    font-family: 'Questrial', sans-serif;
}
h3 {
    font-family: 'Questrial', sans-serif;
    font-size: 35px;
}
p{
    font-family: 'Roboto', sans-serif;
    padding:5px;
}

/* classes */

.buffTop{
    margin-top:15px;
}

.buffBot{
    margin-bottom:15px;
}

.detsBody{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 8px;
}

.detsHead{
    font-family: 'Questrial', sans-serif;
    font-size:20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.double{
  height: 45px;
  bottom: 60px;  
}

.ellen-container{
    background-color: #343a40;
    padding:15px;
}

.ellen-photo{
    border-radius: 20px;
    float:left;
    margin:3px;
    max-height:300px;
    max-width: 300px;
    padding-right:5px;
}

.ellen-photo-bar{
    height:45px;
    background-color:rgb(52, 58, 64);
    color:white;
    position: relative;
    bottom: 60px;
    width:100%;
}


.ellen-stock{
    float: center;
    position: relative;
    text-align: center;
}

.imgSz{
    height:250px;
    width:250px;
}

.med-txt{
    font-size: 14px;
}

.stronger{
    text-decoration: underline;
}

.landing{
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
}
.nav-tabs{
    border-bottom: none;
}

.robo{
    font-family: 'Roboto', sans-serif;
}

.skill{
    background-color: rgb(52, 58, 64);
    color: whitesmoke;
    border: none;
}
/* ids */

#confirmMail{
    display: none;
}

#contactLinks{
    color:whitesmoke;
    max-height: 85%;
    justify-content: center;
}

#ellen-jumbotron{
    color:whitesmoke;  
    background-color: #343a40;
    padding:30px;
}
